@import "tailwindcss";

:root {
  --Vclaro: #008D5D;
  --Vclaro2: #0A372D;
  --Vclaro3: #004435;
  --Voscuro: #001F14;
  --Voscuro2: #032C22;
  --Voscuro3: #001004;
  --Voscuro4: #00241f;
  --Rojo:#531b16;
}

#FontCursive {
  font-family: 'lobster', cursive;
  
}

.sectFirst {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100dvh;
  background: var(--Voscuro) center center;
  gap: clamp(1rem, 8vw, 12rem);
}

.img_logo {
  max-width: 320px;
  min-width: 180px;
}

.FontGeologica{
  font-family: 'geologica', sans-serif;
}

/* .glass {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  padding: 2rem;
  border: solid 1px rgba(245, 245, 245, 0.534);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: clamp(1rem, 8vw, 12rem);
}

#pp{
  position: fixed;
  top: 0;
  left: 50;
  width: 200px;
  height: 200px;
  border-radius: 1000px;
  filter: blur(200px);
  background-color: var(--Vclaro);
} */